$nav-height: 3.5rem;
$footer-height: 3.5rem;

#navigation{
    height: $nav-height;
}

#content{
    margin-top: $nav-height;
    margin-bottom: $nav-height;
    min-height: calc(100vh - #{$nav-height} - #{$footer-height});
}

#footer{
    height: $footer-height;
}