body{
    background-color: #F7F7F7;
}

.cursor-pointer{
    cursor: pointer;
}

/* Width*/
.w-15rem{
    width: 15rem;
}

/* Height */
.min-h-16rem{
    min-height: 16rem;
}

.h-15rem{
    height: 15rem;
}