{% extends 'base.html' %}

{% block title %}
    {% if object %}
        Edit | {{ object.title }}
    {% else %}
        Create Article
    {% endif %}
{% endblock title %}

{% block styles %}
    {{ form.media }}
{% endblock styles %}
    
{% block content %}
    <form class="row p-4 m-0 mt-4 bg-white border" method="post" enctype="multipart/form-data">
        {% csrf_token %} 
        {{ form.as_p }} 
        
        <div class="text-end">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
{% endblock content %}