{% extends 'base.html' %}

{% block title %}
    myBlog
{% endblock title %}

{% block content %}
    <main class="grid-articles">
        {% if articles %}
            {% for article in articles %}
                <article class="row align-content-start m-0 p-3 pt-0 bg-white border">
                    <div class="col-12 col-md-6 col-xl-12 h-15rem position-relative overflow-hidden">
                        <img data-src="{{ article.image.url }}"
                            class="lazyload position-absolute start-0 h-100 w-100"
                            style="object-fit: cover; filter: blur(10px);"
                            alt="{{ article.title }}"/>
                        <img data-src="{{ article.image.url }}"
                            class="lazyload position-absolute start-0 h-100 w-100"
                            style="object-fit: contain"
                            alt="{{ article.title }}"/>
                    </div>
                    <div class="col-12 col-md-6 col-xl-12">
                        <h2><a class="text-decoration-none" href="{% url 'articles:article_detail' article.slug %}">{{ article.title|truncatechars:44 }}</a></h2>
                        <div class="d-flex align-items-center text-muted mb-4">
                            Posted on {{ article.date_created }} by <a class="text-decoration-none mx-1" href="{% url 'users:profile' article.author.username %}">{{ article.author.username|truncatechars:10 }}</a>
                        </div>
                        <p>{{ article.content|safe|truncatechars:220 }}</p>
                    </div>
                </article>
            {% endfor %}
        {% else %}
            <div class="text-center mt-4">
                <h3>Not articles found</h3>
            </div>
        {% endif %}
    </main>
    {% include 'utils/_paginator.html' %}
{% endblock content %}