{% extends 'base.html' %}

{% block title %}
    myBlog | Home
{% endblock title %}

{% block content %}
    <div class="row">
        {% if articles %}
            {% for article in articles %}
                {% if forloop.first and not request.GET %}
                    <div class="col-12 row m-0 mt-4 bg-white border min-h-16rem pe-xl-5">
                        <div class="col-12 col-md-6 col-xl-4 h-15rem position-relative overflow-hidden">
                            <div class="position-absolute start-0 h-100 w-100"
                                style="background-image: url('{{ article.image.url }}');
                                        background-color: white;
                                        background-repeat: no-repeat;
                                        background-size: cover;
                                        background-position: center center;
                                        filter: blur(10px);">
                            </div>
                            <div class="position-absolute start-0 h-100 w-100"
                                style="background-image: url('{{ article.image.url }}');
                                        background-repeat: no-repeat;
                                        background-size: contain;
                                        background-position: center center;">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-8">
                            <h3><a href="{% url 'articles:article_detail' article.id %}">{{ article.title }}</a></h3>
                            <div class="d-flex align-items-center text-muted mb-4">
                                Posted on {{ article.date_created }} by <a class="mx-1" href="#">{{ article.author.username }}</a>
                            </div>
                            <p>{{ article.content }}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="col-12 col-xl-4 row m-0 mt-2 bg-white border min-h-16rem">
                        <div class="col-12 col-md-6 col-xl-12 h-15rem position-relative overflow-hidden">
                            <div class="position-absolute start-0 h-100 w-100"
                                style="background-image: url('{{ article.image.url }}');
                                        background-color: white;
                                        background-repeat: no-repeat;
                                        background-size: cover;
                                        background-position: center center;
                                        filter: blur(10px);">
                            </div>
                            <div class="position-absolute start-0 h-100 w-100"
                                style="background-image: url('{{ article.image.url }}');                                        
                                        background-repeat: no-repeat;
                                        background-size: contain;
                                        background-position: center center;">
                            </div>
                        </div>                        
                        <div class="col-12 col-md-6 col-xl-12">
                            <h3><a href="{% url 'articles:article_detail' article.id %}">{{ article.title }}</a></h3>
                            <div class="d-flex align-items-center text-muted mb-4">
                                Posted on {{ article.date_created }} by <a class="mx-1" href="#">{{ article.author.username }}</a>
                            </div>
                            <p>{{ article.content }}</p>
                        </div>
                    </div>
                {% endif %}                                    
            {% endfor %}
        {% else %}
            <div class="text-center mt-4">
                <h3>Not articles found</h3>
            </div>
        {% endif %}
    </div>
{% endblock content %}