{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block metadata %}
        <meta name="description" content="a developer blog">
        <meta name="keywords" content="python,javascript">
    {% endblock metadata %}
    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    {% block styles %}
    {% endblock styles %}
</head>
<body>
    <!-- Navbar -->
    <nav id="navigation" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container-lg px-0">
            <div class="d-flex justify-content-between align-items-center w-100">
                <a class="navbar-brand d-none d-sm-inline ps-3" href="{% url 'articles:home' %}">myBlog</a>
                <a class="navbar-brand d-sm-none ps-3" href="{% url 'articles:home' %}">mB</a>
                
                <form id="search_form" method="GET" action="{% url 'articles:home' %}" class="d-flex position-relative ms-md-auto w-15rem me-2">
                    <input id="search_title" name="title" type="text" class="input-search w-100 text-white" placeholder="Search">
                    <span onclick="submitForm('search_form')" class="position-absolute end-0 cursor-pointer text-white px-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </span>
                </form>

                <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse bg-dark mt-1 mt-md-0 px-3 px-md-0" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto me-md-3">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </a>
                    <ul id="categories-menu" class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <div class="row">
                            {% for category in categories %}
                                <li class="col-12 col-sm-6 {% if forloop.counter|divisibleby:2 %}ps-sm-0{% else %}pe-sm-0{% endif %} cursor-pointer">
                                    <a class="dropdown-item" href="{% url 'articles:home' %}?category={{ category.name }}">
                                        {{ category.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </div>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">
                        {% if user.is_authenticated %} Account {% else %} Login {% endif %}                            
                    </a>
                </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Content -->
    <div id="content" class="container-lg pt-2">
        <!-- Main Content -->
        {% block content %}
        {% endblock content %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="mainModal" aria-labelledby="mainModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Content -->
            </div>
        </div>
    </div>
    
    <!-- Footer -->
    <footer id="footer" class="bg-dark">
        <div class="container">
            <p class="pt-3 text-center text-white">Copyright © myBlog <span id="year"></span></p>
        </div>
    </footer>

    <script>
        document.getElementById("year").innerHTML = new Date().getFullYear();

        function loadModal(url, id="mainModal"){
            const modal = document.getElementById(id);
            const modal_bs = new bootstrap.Modal(modal);
            fetch(url)
                .then(response => response.text())
                .then(html =>{
                    modal.querySelector(".modal-content").innerHTML = html;
                    modal_bs.show();
                })
                .catch(error =>{
                    console.error(error);
                })
        }

        function submitForm(id){
            const form = document.getElementById(id);
            form.submit();
        }
    </script>
    {% block scripts %}
    {% endblock scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>