<!-- Aside -->
<aside class="col-12 col-md-4 col-lg-3">
    <h4 class="">About</h4>
    <p>
        Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam, sit amet
        adipiscing sem neque sed ipsum.
    </p>
    <div class="googlebar">
        <span class="blue"></span><span class="red"></span><span class="orange"></span><span class="green"></span>
    </div>

    <div class="mt-4">
        <h4 class="">Tags</h4>
        <a class="btn btn-light btn-sm mb-1" href="page-category.html">Journey</a>
        <a class="btn btn-light btn-sm mb-1" href="page-category.html">Work</a>
        <a class="btn btn-light btn-sm mb-1" href="page-category.html">Lifestype</a>
        <a class="btn btn-light btn-sm mb-1" href="page-category.html">Photography</a>
        <a class="btn btn-light btn-sm mb-1" href="page-category.html">Food &amp; Drinks</a>
    </div>

    <div class="mt-4">
        <h4 class="">Popular stories</h4>

        <a href="post-image.html" class="d-inline-block">
            <h4 class="h6">The blind man</h4>
            <img class="card-img" src="img/articles/2.jpg" alt="">
        </a>
        <time class="timeago" datetime="2021-09-03 20:00" timeago-id="22">11 months ago</time> in Lifestyle

        <a href="post-image.html" class="d-inline-block mt-3">
            <h4 class="h6">Crying on the news</h4>
            <img class="card-img" src="img/articles/3.jpg" alt="">
        </a>
        <time class="timeago" datetime="2021-07-16 20:00" timeago-id="23">1 year ago</time> in Work
    </div>
</aside>
